<%- include('../partials/header')%>

<div class="" style="width: 100; height: 600px; background-color: rgb(76, 92, 95); padding-top:30px;">
<div class="bg-warning-subtle" style="width: 100; height: 530px;">
    <div class="d-flex justify-content-center">
    <ul class="mt-4 fs-4 pt-1 fw-bold" style="border: 1px solid black; border-radius: 10px; width: 250px; height: 200px; padding-left: 70px;">
        <li><a href="/education">Eduaction</a></li>
        <li><a href="/skill">Skill</a></li>
        <li><a href="/project">Project</a></li>
        <li><a href="/experience">Experience</a></li>
        <li><a href="/interest">Interest</a></li>
    </ul>
    </div>
    <hr />
    <form action="/add-project" class="education mt-4 mb-4 container" method="POST">
        <input  type="text" placeholder="Title" name="title" />
        <input  type="text" placeholder="Description" name="description" />
        <input  type="text" placeholder="Technology" name="technology" />
        <input  type="text" placeholder="Link" name="link" />
        

        <button class="btn btn-dark ">Add Project</button>
    </form>
    <hr />
    
    <div class="d-flex flex-wrap ms-5">
        <% user.project.forEach((e, i)=> { %>
        <div class="card me-3 mb-3" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title"><%= e.title%></h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <%= e.description%> - <%= e.technology%> | <%= e.link%>
                </h6>
                <a class="text-danger" href="/delete-project/<%= i%>" class="card-link">Remove</a>
            </div>
        </div>
        <% })%>
    </div>

</div>
</div>



<%- include('../partials/footer')%>